<!-- PARTIAL ACTIVE SPECIAL -->
<div class="special-active">
    <div class="special-image">
        <f:if condition="{activeSpecial.image}">
            <!-- RENDER IMAGE -->
        </f:if>
    </div>
    <div class="special-content">
        <div class="special-time">
            <div class="special-date">
                <span class="spacial-day-month">
                    <f:format.date format="j.">{activeSpecial.specialDate}</f:format.date>
                    <span><f:format.date format="F">{activeSpecial.specialDate}</f:format.date></span>
                </span>
                <span class="special-day">Heute</span>
            </div>
            <div class="special-name">
                <span><f:format.raw>{activeSpecial.name}</f:format.raw></span>
                <span>
                    <f:if condition="{activeSpecial.specialStart} == {activeSpecial.specialStop}">
                        <f:then>
                            ab: <f:format.date format="H:i">{activeSpecial.specialStart}</f:format.date> Uhr
                        </f:then>
                        <f:else>
                            <f:format.date format="H:i">{activeSpecial.specialStart}</f:format.date> - <f:format.date format="H:i">{activeSpecial.specialStop}</f:format.date> Uhr
                        </f:else>
                    </f:if>
                </span>
            </div>
        </div>
        <div class="special-description">
            <f:format.html>{activeSpecial.description}</f:format.html>
        </div>
    </div>
</div>