<!-- PARTIAL NOT ACTIVE SPECIAL -->

<div class="special-time">
    <div class="special-date">
        <f:format.date format="j.">{notActiveSpecial.specialDate}</f:format.date>
        <span><f:format.date format="F">{notActiveSpecial.specialDate}</f:format.date></span>
    </div>
    <div class="special-day">
        <f:format.date format="l">{notActiveSpecial.specialDate}</f:format.date>
    </div>
</div>
<div class="special-name">
    <span><f:format.raw>{notActiveSpecial.name}</f:format.raw></span>
    <span>
        <f:if condition="{notActiveSpecial.specialStart} == {notActiveSpecial.specialStop}">
            <f:then>
                ab: <f:format.date format="H:i">{notActiveSpecial.specialStart}</f:format.date> Uhr
            </f:then>
            <f:else>
                <f:format.date format="H:i">{notActiveSpecial.specialStart}</f:format.date> - <f:format.date format="H:i">{notActiveSpecial.specialStop}</f:format.date> Uhr
            </f:else>
        </f:if>
    </span>
</div>
<div class="special-description">
    <f:format.html>{notActiveSpecial.description}</f:format.html>
</div>