<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<div class="owl-carousel owl-theme owl-loaded">
			<div class="owl-stage-outer">
				<div class="owl-stage">
					<f:for each="{wdlSpecials}" as="wdlSpecials">
							{f:render(partial: 'Special', arguments:{
								special: wdlSpecials
							})}
					</f:for>
				</div>
				<div class="owl-nav">
					<div class="owl-prev">prev</div>
					<div class="owl-next">next</div>
				</div>
			</div>
		</div>
	</f:section>
</html>