<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
			<f:for each="{wdlSpecials}" as="wdlSpecials">
				<div class="special-wrapper">
					{f:render(partial: 'Special', arguments:{
						special: wdlSpecials
					})}
					<div class="pagination-prev"></div>
					<div class="pagination-next"></div>
				</div>

				<!-- ############################################################################################### -->

				<f:comment>
				<tr>
					<td><f:link.action action="show" arguments="{wdlSpecials : wdlSpecials}"> {wdlSpecials.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{wdlSpecials : wdlSpecials}"> {wdlSpecials.description}</f:link.action></td>
					<td><f:link.action action="show" arguments="{wdlSpecials : wdlSpecials}"> {wdlSpecials.image.originalResource.name}</f:link.action></td>
					<td><f:link.action action="show" arguments="{wdlSpecials : wdlSpecials}"> {wdlSpecials.specialStart}</f:link.action></td>
					<td><f:link.action action="show" arguments="{wdlSpecials : wdlSpecials}"> {wdlSpecials.specialStop}</f:link.action></td>

					<td><f:link.action action="edit" arguments="{wdlSpecials : wdlSpecials}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{wdlSpecials : wdlSpecials}">Delete</f:link.action></td>
				</tr>
				{wdlSpecials.category.category}
				{wdlSpecials.intervals.intervals}
				</f:comment>

				<!-- ############################################################################################### -->

			</f:for>
	</f:section>
</html>